.footer(class="pt-5 pb-5")
  .container(class="pb-5")
    .row
      .col-12.col-md-6.col-lg-3.mb-5
        .box
          h4.mb-3 Menu
          ul(class="text-uppercase ps-4")
            li home
            li Services
            li About Us
            li Blog
            li Contact Us
      .col-12.col-md-6.col-lg-3.mb-5
        .box.mb-4
          h4.mb-3 We Offer
          ul(class="text-uppercase ps-4")
            li Business Hosting
            li Private Hosting
        .box
          h4.mb-3 Services
          ul(class="text-uppercase ps-4")
            li First Services
            li Second Services
            li Third Services
      .col-12.col-md-6.col-lg-3.mb-5
        .box
          h4 Our Blog
          p.fs-5 Lorem Ipsum sample text
          p Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan.
          span(class="d-block text-end") Read More ...
      .col-12.col-md-6.col-lg-3.mb-5
        .box
          h4.mb-4 We Are Social
          .icons
            i(class="fa-brands fa-facebook fa-2x")
            i(class="fa-brands fa-twitter fa-2x")
            i(class="fa-brands fa-google-plus-g fa-2x")
            i(class="fa-brands fa-youtube fa-2x")
            i(class="fa-brands fa-skype fa-2x")
    .cloud-box
      img(src="../dist/imgs/clouds.png", alt="", class="clouds")
