.upper-bar.p-2
  .container
    .row
      .col-12.col-md-6.col-lg-3.mb-2
        div(class = "box d-inline-block  me-3 text-center")
          <i class="fa-solid fa-headphones me-2"></i>
          p(class = "d-inline-block m-0") Call Us: (0) 123 456 789
      .col-12.col-md-6.mb-2
        div(class = "box d-inline-block text-center")
          <i class="fa-solid fa-envelope me-2"></i>
          p(class = "d-inline-block m-0") jetspace@mail.com
      .col-12.col-md-3
        select(class = "border-0 p-1 text-center")
          option(value="en") english
          option(value="ar") arabic
          option(value="sp") spanish
          option(value="fr") franch
