doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include pug/layouts/styles
    title Astro
  body
    .home-page
      include pug/layouts/header
      .nav-bar
        .container
          .row
            .col-12.col-md-4.col-lg-3.p-3
              a: img(class="img-fluid w-50" src="../dist/imgs/logo.png", alt="", class="logo")
            .col-12.col-md-8.col-lg-6
              ul(class="links list-unstyled h-100 d-flex m-0 justify-content-center")
                li(class = "active text-uppercase" data-page=".home-page"): a(href="../dist/Home.html" class="p-3") Home
                li(class = "text-uppercase" data-page=".services-page"): a(href="../dist/services.html" class="p-3") Services
                li(class = "text-uppercase" data-page=".about-page"): a(href="../dist/about.html" class="p-3") About
                li(class = "text-uppercase" data-page=".pricing-page"): a(href="../dist/pricing.html" class="p-3") Pricing
                li(class = "text-uppercase" data-page=".domain-page"): a(href="../dist/domain.html" class="p-3") Domain
                li(class = "text-uppercase" data-page=".blog-page"): a(href="../dist/blog.html" class="p-3") Blog
                li(class = "text-uppercase" data-page=".contact-page"): a(href="../dist/Contact.html" class="p-3") Contact
            .col-12.col-lg-3.p-3
              form
                input(type="text" placeholder="Search")
                i(class="fa-solid fa-magnifying-glass")
      .landing(class="pt-5 pb-5")
        .overlay
        .container(class="pt-5 pb-5")
          .row 
            .col-12.col-lg-6
              .text
                h1 Super fast servers
                h3.mb-3 SAFE,FAST AND AWESOME PRICE
                p.mb-4 Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula
                ul.list-unstyled
                  li Super Special Offer/$2,99/MO
                  li Unlimited Bandwidth and Space
                  li Daily Backups
            .col-6
              .img-box
                img(src="../dist/imgs/server.png", alt="server", class="left")
                img(src="../dist/imgs/server.png", alt="server", class="center")
                img(src="../dist/imgs/server.png", alt="server", class="right")
            .col-12
              .cloud-box
                img(src="../dist/imgs/clouds.png", alt="", class="clouds")
      .plans(class="pt-5 pb-5 text-center")
        .container(class="pt-5 pb-5")
          .heading
            h2 We have awesome plans and prices
            p Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada. Pellentesque in ipsum
          .row
            .col-12.col-md-4.mb-5
              .box
                <i class="fa-solid fa-bullseye fa-5x mb-3"></i>
                h4.mb-3 Fast Server
                p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
            .col-12.col-md-4.mb-5
              .box
                <i class="fa-solid fa-circle-info fa-5x mb-3"></i>
                h4.mb-3 Full Support
                p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
            .col-12.col-md-4.mb-5
              .box
                <i class="fa-solid fa-lock fa-5x mb-3"></i>
                h4.mb-3 Safe And Secure
                p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
      .pricing(class="pt-5 pb-5 text-center")
        .container(class="pt-5 pb-5")
          include pug/components/domain-picker
        include pug/components/pricing
      .contact(class="pt-5 pb-5 text-center")
        .container(class="pt-5 pb-5")
          .heading.text-center
            h2.mb-3 Feel free to contact us for custom plans
            p.mb-5 Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
          button.btn Contact Us
      include pug/layouts/footer
    include pug/layouts/scripts