.blog.text-center.text-md-start.mb-5
  .img-box
    img(src="../dist/imgs/blog.jpg", alt="" class="img-fluid")
  .caption
    h4 Our Awesome Title For Blog
    .info(class="d-flex justify-content-between align-items-center mb-3 flex-column flex-md-row text-center text-md-start")
      .box.mb-3
        .date
          i(class="fa-solid fa-calendar-days")
          span 25 Feb 2023
        .auther
          i(class="fa-solid fa-user")
          span by: Rammah Mohamed
      .comment.mb-3
        i(class="fa-solid fa-message")
        span 7 commnts
    p Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Donec sollicitudin molue in ipsum
    button.btn Read Me