.domain-picker.pb-5
  .container
    .heading.text-center
      h2.mb-3 Check your domain name
      p.mb-5 Enter the domain name to register or transfer
    form.position-relative.mb-5
      input(type="search", name="search")
      select
        option(value=".com") .com
        option(value=".com") .net
        option(value=".com") .org
      input(type="submit" value="Search Domain")