.feat(class="text-center text-lg-start")
  .container(class="pt-5")
    .row.mb-5 
      .col-12.col-lg-4.mb-5
        .box(class="d-flex align-items-center justify-content-center flex-column flex-lg-row")
          i(class="fa-solid fa-gear fa-2x mb-3")
          .text
            h4 Modern Technology
            p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
      .col-12.col-lg-4.mb-5
        .box(class="d-flex align-items-center justify-content-center flex-column flex-lg-row")
          i(class="fa-solid fa-key fa-2x mb-3")
          .text
            h4 Protected Servers
            p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
      .col-12.col-lg-4.mb-5
        .box(class="d-flex align-items-center justify-content-center flex-column flex-lg-row")
          i(class="fa-solid fa-shield fa-2x mb-3")
          .text
            h4 Fully Secured
            p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
    .row.mb-5
      .col-12.col-lg-4.mb-5
        .box(class="d-flex align-items-center justify-content-center flex-column flex-lg-row")
          i(class="fa-solid fa-phone fa-2x mb-3")
          .text
            h4 Call For support
            p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
      .col-12.col-lg-4.mb-5
        .box(class="d-flex align-items-center justify-content-center flex-column flex-lg-row")
          i(class="fa-solid fa-trophy fa-2x mb-3")
          .text
            h4 Best For Business
            p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit
      .col-12.col-lg-4.mb-5
        .box(class="d-flex align-items-center justify-content-center flex-column flex-lg-row")
          i(class="fa-solid fa-life-ring fa-2x mb-3")
          .text
            h4 Fully Support
            p Curabitur aliquet quam id dui posu ere blandit.Curabitur ae blandit