.pricing-box
  .container
    .row
      .col-12.col-md-6.col-xl-3.p-4.mb-5
        .box
          .plan
            .txt
              h5 Basic
              span 9,99
              span /mo
          .info
            .top: img(src="../dist/imgs/server.png", alt="" class="img-fluid")
            .bottom
              ul.list-unstyled
                li 10 GB Storage
                li 500 Mail Accounts
                li 10 Databases
                li 512MB Rams
              button.btn Buy Now
      .col-12.col-md-6.col-xl-3.p-4.mb-5
        .box
          .plan
            .txt
              h5 Pro
              span 19,99
              span /mo
          .info
            .top: img(src="../dist/imgs/server.png", alt="" class="img-fluid")
            .bottom
              ul.list-unstyled
                li 20 GB Storage
                li 1000 Mail Accounts
                li 20 Databases
                li 1GB Rams
              button.btn Buy Now
      .col-12.col-md-6.col-xl-3.p-4.mb-5
        .box
          .plan
            .txt
              h5 Premium
              span 29,99
              span /mo
          .info
            .top: img(src="../dist/imgs/server.png", alt="" class="img-fluid")
            .bottom
              ul.list-unstyled
                li 50 GB Storage
                li 5000 Mail Accounts
                li 50 Databases
                li 2GB Rams
              button.btn Buy Now
      .col-12.col-md-6.col-xl-3.p-4.mb-5
        .box
          .plan
            .txt
              h5 Ultra
              span 39,99
              span /mo
          .info
            .top: img(src="../dist/imgs/server.png", alt="" class="img-fluid")
            .bottom
              ul.list-unstyled
                li 100 GB Storage
                li 10000 Mail Accounts
                li 100 Databases
                li 4GB Rams
              button.btn Buy Now