aside 
  .search
    h2 Search Blog
    form: input(type="search" placeholder="Search") 
    i(class="fa-solid fa-magnifying-glass")
  .category
    h2 Category
    ul.list-unstyled
      li Graphic Design #[span (3)]
      li Video #[span (7)]
      li Audio #[span (3)]
      li Business #[span (5)]
      li Photography #[span (9)]
      li Web Design #[span (11)]
      li Media #[span (6)]
  .archive
    h2 Archives
    ul.list-unstyled
      li January #[span (3)]
      li February #[span (7)]
      li March #[span (3)]
      li April #[span (5)]
      li May #[span (9)]
      li June Design #[span (11)]
      li July #[span (15)]
      li August #[span (8)]
      li September #[span (18)]
      li October #[span (4)]
      li November #[span (22)]
      li December #[span (7)]