.table.text-center
  table
    thead
      th Feature 
      th Basic
      th Pro
      th Premium
      th Ultra 
    tbody
    tr
      td Bandwidth
      td Unlimited
      td Unlimited
      td Unlimited
      td Unlimited
    tr
      td Storage
      td 10GB
      td 20GB
      td 30Gb
      td 100GB
    tr
      td Domain
      td 2
      td 5
      td 10
      td 20
    tr
      td Root Acces
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
    tr
      td Wordpress Instalations
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
    tr
      td Cloud Database
      td
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
    tr
      td Additional Cloud Server(s)
      td
      td
      td: i(class="fa-solid fa-check fa-lg")
      td: i(class="fa-solid fa-check fa-lg")
    tr
      td Production Ready App
      td
      td
      td
      td: i(class="fa-solid fa-check fa-lg")
