.title(class="pt-5 pb-5 text-center text-md-start")
  .container(class="pt-5 pb-5")
    .row
      .col-12.col-md-6.mb-5
        .img-box(class="d-flex align-items-center justify-content-center w-100 h-100")
          img(src="../dist/imgs/server.png", alt="")
      .col-12.col-md-6.mb-5
        .text
          h1 #[span Super fast] servers
          p.mb-4 Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula
          ul.list-unstyled
            li Super Special Offer/$2,99/MO
            li Unlimited Bandwidth and Space
            li Daily Backups